<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="authorDiv">
                <!-- Kims CSS-koppling -->
                <h2>
                    {{formTitle}}<h2>




                        <div class="btn-group input-group form-group" dropdown is-open="status.isopen">
                            <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                                Add/remove books
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="" ng-click="goTos('/addAuthor')">Add/remove authors</a></li>
                                <li><a href="" ng-click="goTos('/add')">Add/remove books</a></li>
                            </ul>
                        </div>





                        <div class="input-group form-group">
                            <input type="text" placeholder="Genre" ng-model="newGenreData.name" class="form-control" aria-label="...">
                            <div class="input-group-btn" dropdown>
                                <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle aria-expanded="false">Existing</button>
                                <ul class="dropdown-menu dropdown-menu-right scrollable-menu" role="menu">
                                    <li ng-repeat="genre in genreData">
                                        <a href="" ng-click="genreSelect($index, genre.Id)">{{genre.name}}</a>
                                    </li>
                                </ul>
                            </div><!-- /btn-group -->
                        </div><!-- /input-group -->



                        <div class="form-group marg">
                            <textarea class="form-control" id="data" ng-model="newGenreData.description" rows="5" placeholder="Add genre description here..."></textarea>
                        </div>




                        <button type="add" class="btn btn-default" ng-click="save()">{{saveBtnText}}</button>
                        <button ng-if="canDelete" type="remove" class="btn btn-default" ng-click="delete()">Remove from database</button>
                            <button type="edit" class="btn btn-default" ng-click="edit()">Edit book</button>
            </div>
        </div>




