<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="authorDiv">
                <!-- Kims CSS-koppling -->
                <h2>
                    {{formTitle}}<h2>

                        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>



                        <div class="col-xs-10 col-sm-10 col-md-12 col-lg-12 col-xs-offset-1 col-sm-offset-1 col-md-offset-0 col-lg-offset-0">



                            <div class="btn-group input-group form-group" dropdown is-open="status.isopen">
                                <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                                    Add/remove books
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="" ng-click="goTos('/addAuthor')">Add/remove authors</a></li>
                                    <li><a href="" ng-click="goTos('/addGenre')">Add/remove genres</a></li>
                                </ul>
                            </div>






                            <!--- ng-modeö="callTitle" for controller -->
                            <div class="input-group form-group">
                                <input type="text" placeholder="Title" ng-model="newBookData.title" class="form-control" aria-label="...">
                                <div class="input-group-btn" dropdown>
                                    <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle aria-expanded="false">Existing</button>
                                    <ul class="dropdown-menu dropdown-menu-right scrollable-menuz" role="menu" class=>
                                        <li ng-repeat="book in bookData">
                                            <a href="" ng-click="titleSelect($index, book.Id)">{{book.title}}</a>
                                        </li>
                                    </ul>
                                </div><!-- /btn-group -->
                            </div><!-- /input-group -->



                            <div class="input-group form-group">
                                <input type="text" placeholder="Author" ng-model="newBookDataPresentation.authors" class="form-control" aria-label="...">
                                <div class="input-group-btn" dropdown>
                                    <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle aria-expanded="false">Existing</button>
                                    <ul class="dropdown-menu dropdown-menu-right scrollable-menu" role="menu">
                                        <li ng-repeat="author in authorData">
                                            <a href="" ng-click="authorSelect($index, author.Id)">{{author.name}}</a>
                                        </li>
                                    </ul>
                                </div><!-- /btn-group -->
                            </div><!-- /input-group -->
                            <!--- ng-modeö="callTitle" for controller -->




                            <div class="input-group form-group">
                                <input type="text" placeholder="Genre" ng-model="newBookDataPresentation.genres" class="form-control" aria-label="...">
                                <div class="input-group-btn" dropdown>
                                    <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle aria-expanded="false">Existing</button>
                                    <ul class="dropdown-menu dropdown-menu-right scrollable-menu" role="menu">
                                        <li ng-repeat="genre in genreData">
                                            <a href="" ng-click="genreSelect($index)">{{genre.name}}</a>
                                        </li>
                                    </ul>
                                </div><!-- /btn-group -->
                            </div><!-- /input-group -->

                            <div class="input-group form-group">
                                <input type="text" placeholder="Image URL" ng-model="newBookDataPresentation.images" class="form-control" aria-label="...">
                                <div class="input-group-btn" dropdown>
                                    <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle aria-expanded="false">Existing</button>
                                    <ul class="dropdown-menu dropdown-menu-right scrollable-menu" role="menu">
                                        <li ng-repeat="image in imageData">
                                            <a href="" ng-click="imageSelect($index)">{{image.imageUrl}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                            <div class="form-group marg">
                                <input id="year" class="form-control" ng-model="newBookData.year" type="text" placeholder="Published, ex. (2000-01-01)">
                            </div>

                            <div class="form-group marg">
                                <input id="isbn" class="form-control" ng-model="newBookData.isbn" type="text" placeholder="ISBN">
                            </div>

                            <div class="form-group marg">
                                <textarea class="form-control" id="data" ng-model="newBookData.description" rows="5" placeholder="Add book description here..."></textarea>
                            </div>

                            




                            <button type="add" class="btn btn-default" ng-click="save()">{{saveBtnText}}</button>
                            <button ng-if="canDelete" type="remove" class="btn btn-default" ng-click="delete()">Remove from database</button>
                        </div>
            </div>
        </div>
    </div>

