<div class="container">
	<div class="authorDiv">
		<div class="partialTitle row">Authors</div>
        <div modal="opened" ng-include src="'partials/modalView.html'"></div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >	
			<div class="row">		
				<accordion>				
				  <accordion-group heading={{author.name}} ng-repeat="author in authorData" class="accordion">
				    <tbody>
				    	<p>Books by this author:</p>
                        <td>
                            <a ng-repeat="book in bookData" data-toggle="modal" data-target="#myModal" ng-click="getBookId(book.Id, $index)">
                                <div ng-repeat="authorName in book.authorNames" ng-if="author.name == authorName.name">
                                    {{book.title}}
                                </div>
                            </a>
                        </td>
				    </tbody>             
				   </accordion-group>
			  	</accordion>
		  	</div>
		</div>
	</div>
</div>
