<div class="container bookView">

    <div class="bookDiv">

        <section class="row">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <div class="partialTitle">Books:</div>

                <div class="center-panel panel panel-default bookViewPanel">

                    <div modal="opened" ng-include src="'partials/modalView.html'"></div>

                    <table class="table bookTable" id="tiny-screen-tables">

                        <thead id="tiny-screen-tables">

                            <tr id="tiny-screen-tables">

                                <th id="tableBling"><a href="#" id="def" class="bling" onclick="bling(this);" ng-click="sortBooksBy='title'">Title</a></th>

                                <th id="tableBling"><a href="#" onclick="bling(this);" ng-click="sortBooksBy= 'author'">Author</a></th>

                                <th id="tableBling"><a href="#" onclick="bling(this);" ng-click="sortBooksBy= 'genre'">Genre</a></th>

                                <th id="tableBling">Details</th>

                            </tr>

                        </thead>

                        <tbody id="tiny-screen-tables">

                            <tr ng-repeat="book in bookData | filter: query | orderBy: sortBooksBy">

                                <td id="tiny-screen-tables" data-title="Title">
                                    <a href="#" data-toggle="modal" data-target="#myModal" ng-click="getBookId(book.id)">{{book.title}}</a>

                                </td>

                                <td id="tiny-screen-tables" data-title="Author">{{author.name}}</td>

                                <td id="tiny-screen-tables" data-title="Genre">{{genre.name}}</td>

                                <td id="tiny-screen-tables" data-title="Book Details">

                                    <button type="button" id="{{book.Id}}" class="btn btn-default" data-toggle="modal" data-target="#myModal" ng-click="getBookId(book.Id)">
                                        Book Details
                                    </button>

                                </td>

                            </tr>

                        </tbody>

                    </table>

                </div>

            </div>

        </section>

        <script type="text/javascript">

			var thisIsMine = document.getElementById('def');

			function bling(el)
			{
			 if (thisIsMine != null)
			 {
			     thisIsMine.className = "";
			 }
			 el.className = "bling";
			 thisIsMine = el;
			}

        </script>

    </div>

</div>