<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="bookController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" ng-repeat="book in bookData" ng-if="book.Id == bookId">{{book.title}}</h4>
            </div>
            <div class="modal-body">
                <div class="bookCover" ng-repeat="book in bookData">
                    <div>
                            <img ng-src="{{selectedBook.images[0].imageUrl}}" />
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body" ng-hide="showDetailWindow">
                        <ul class="list-group" ng-repeat="book in bookData" ng-if="book.Id == bookId">
                            <li class="list-group-item" ng-repeat="author in book.authorNames">
                                Author: <span class="badge">{{author.name}}</span>
                            </li>
                            <li class="list-group-item" ng-repeat="genre in book.genreNames">
                                Genre: <span class="badge">{{genre.name}}</span>
                            </li>
                            <li class="list-group-item">
                                Published: <span class="badge">{{book.year}}</span>
                            </li>
                            <li class="list-group-item">
                                ISBN: <span class="badge"> {{book.isbn}}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-body" ng-show="editBookView">
                        <ul class="list-group" ng-repeat="book in bookData" ng-if="book.Id == bookId">
                            <li class="list-group-item" ng-repeat="author in book.authorNames">
                                Author: <input type="text" class="form-control" ng-model="author.name">
                            </li>
                            <li class="list-group-item">
                                Published: <input type="text" class="form-control" ng-model="book.year">
                            </li>
                            <li class="list-group-item" ng-repeat="genre in book.genreNames">
                                Genre: <input type="text" class="form-control" ng-model="genre.name">
                            </li>
                            <li class="list-group-item">
                                ISBN: <input type="text" class="form-control" ng-model="book.isbn">
                            </li>
                        </ul>
                        <a class="saveButton" href="" ng-show="showSave" ng-click="saveData()">save</a>
                    </div>
                    <a href="" ng-hide="showEdit" ng-click="editBook()">edit</a>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body" ng-repeat="book in bookData" ng-if="book.Id == bookId">
                        <a href="" ng-hide="showTxtEdit">edit</a>
                        <p ng-hide="summary">{{book.description | limitTo: 150}}</p>
                        <p ng-show="more">{{book.description}}</p>
                    </div><a href="" ng-click="readMore()">read more</a>
                    <div class="collapse" id="collapseExample">
                        <div class="well">
                            ...
                        </div>
                        </p>
                    </div>
                    <div class="form-group marg" ng-repeat="book in bookData" ng-if="book.Id == bookId" ng-show="showEditDescriptionWindow">
                        <textarea class="form-control" id="data" rows="5" ng-model="editDescription" placeholder="Add book description here...">{{book.description}}</textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>