<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" ng-repeat="book in bookData" ng-if="book.Id == bookId">{{book.title}}</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="row">
                        <img class="modalBookCover col-xs-9 col-sm-5" ng-src="{{selectedBook.images[0].imageUrl}}" />
                        <div class="modalDetails col-xs-12 col-sm-6" ng-hide="showDetailWindow">
                            <ul class="list-group" ng-repeat="book in bookData" ng-if="book.Id == bookId">
                                <li class="list-group-item">
                                    <ul class="list-group">
                                        Author:
                                        <li id="righto" ng-repeat="author in book.authorNames">
                                            {{author.name}}
                                        </li>
                                    </ul>
                                </li>
                                <li class="list-group-item">
                                    <ul class="list-group">
                                        Genre:
                                        <li id="righto" ng-repeat="genre in book.genreNames">
                                            {{genre.name}}&nbsp;
                                        </li>
                                    </ul>
                                </li>
                                <li class="list-group-item">
                                    Published: <p id="righto"> {{book.year}} </p>
                                </li>
                                <li class="list-group-item">
                                    ISBN: <p id="righto"> {{book.isbn}} </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body" ng-repeat="book in bookData" ng-if="book.Id == bookId">
                        <p ng-hide="summary">{{book.description | limitTo: 150}}</p>
                        <p ng-show="more">{{book.description}}</p>
                    </div><a href="" class="modalEditSaveReadMore" ng-click="readMore()">Read more</a>
                    <div class="collapse" id="collapseExample">
                        <div class="well">
                            ...
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>